fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
redis
celery
pandas
numpy
scikit-learn
python-dotenv
pydantic-settings
httpx
python-multipart
psycopg2-binary
langchain
langchain-groq
langgraph
celery
flower
langchain_core
reportlab
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator